---
title: Nikita's literature
layout: 'base.njk'
--- 


<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Literature Review</h1>
        <p>Hey there! This is the space where I will be publishing reviews of articles, books, and other reading materials.</p>
        <p>Also, feel free to check out the list of future reading materials.</p>
        <div class="flex-group">
          <a href="./reviews" class="btn btn--primary">Read My Reviews</a>
          <a href="#featured-articles" class="btn btn--neutral">Future Reads</a>
        </div>
      </div>
      <div>
        <img src="/assets/hero-img.png" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Upcoming Reviews</h2>
    <p class="text-center">Reviews I am about to write one day when I collect my thoughts together.</p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse-%}
      {% include 'review-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section>

